{% load leaflet_tags %} {% load static %}
<!DOCTYPE html>
<html>
  <head>
    <title>Vehicle Routing Visualiser</title>
    {% leaflet_css %} {% leaflet_js %}
    <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
    />

    <!-- Leaflet Search plugin -->
    <link rel="stylesheet" href="{% static 'map/css/styles.css' %}">
    <link
      rel="stylesheet"
      href="https://unpkg.com/leaflet-search/dist/leaflet-search.min.css"
    />
    <link rel="stylesheet" href="{% static 'map/css/sidebar.css' %}">
    <script src="https://unpkg.com/leaflet-search/dist/leaflet-search.min.js"></script>
    <script src="https://unpkg.com/leaflet-geosearch@latest/dist/bundle.min.js"></script>
    <link rel="stylesheet" href="{% static 'map/css/styles.css' %}">

  </head>
  <body>
    <!-- External JS -->
    <script src="{% static 'map/js/map.js' %}" defer></script>
    <script src="{% static 'map/js/search.js' %}" defer></script>
    
    <div id="map"></div>
    <div id="mySidebar" class="sidebar">
      <div id="locationInfo">
        <h3>Locations</h3>
    
        <table id="marker-table" style="width: 100%; border-collapse: collapse; font-size: 13px; color: white;">
          <thead>
            <tr>
              <th>Index</th>
              <th>Location</th>
              <th>Coordinates</th>
              <th>Remove?</th>
            </tr>
          </thead>
          <tbody></tbody>
        </table>
        
      </div>
    </div>
    
    <button id="sidebarToggle" class="openbtn">
      <i class="fa fa-caret-left"></i>
    </button>
    
    <script src="{% static 'map/js/route.js' %}" defer></script>
    
    
    
  </body>
</html>
